body{

}
h3{
    text-align: center;
    color: brown;
}
.boxBig{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px ;
    box-shadow: 2px 2px 10px 10px rgb(203, 212, 226) ;
    flex-wrap: wrap;
}
.boxImg{
    height: 100%;
    border-radius:10px;
}
.box2{
    width: 300px;
    margin: 70px;
}
.box3{
    display: flex;
    justify-content: space-around;
}
button{
    padding: 0 30px;
    border-radius: 5px;
    background: aqua;
    cursor: pointer;
}